body {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 16px;
}

/* Index page */
#section1 i {
    color: #512161;
}

#section1 .card {
    border: #ffffff;
}

/* Navbar section */
nav li, nav span {
    font-size: 0.85rem;
}

.carousel-caption {
    bottom: 300px;
    text-align: start;
}

.carousel-item img {
    height: 700px;
}

main h1 {
    font-size: 3rem;
    font-weight: 700;
}



/* Card section  */
#section1 h1 {
    font-weight: bold;
}

#section1 .card img {
    width: 80px;
}

#section1 .card h5 {
    font-weight: bold;
}

#section1 .card p {
    font-size: 0.8rem;
}

/* Section 2  */
#section2 p {
    font-size: 0.8rem;
}

#section2 i {
    font-size: 1.7rem;
}



/* section 3 */
#section3 h2 {
    font-weight: bold;
}

#section3 p {
    font-size: 0.8rem;
}

#section3 .card { 
    border: #ffffff;
}

.pagination {
    display: block;
    width: 75%;
    margin: 1em auto;
    text-align: center;
}

.pagination::after {
    content: '';
    clear: both;
}

.pagination-button {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #e0e0e0;
    background-color: #eee;
    color: #333;
    cursor: pointer;
    transition: background 0.1s, color 0.1s;
}

.pagination-button:hover {
    background-color: #ddd;
    color: #3366cc;
}

.pagination-button:active {
    background-color: #bbb;
    border-color: #bbb;
    color: #3366cc;
}



/* Footer  */
footer {
    color: white;
    background-color: #985fd8;
}

.footer-under {
    background-color: #512161;
}

footer i {
    font-size: 2rem;
    color: #ffffff;
}

footer p {
    font-size: 0.8rem;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.8rem;
}

.btn-customs-1 {
    background-color: #512161;
    color: #ffffff;
    border-color: #ffffff;
}

.btn-customs-1:hover {
    background-color: #ffffff;
    border-color: #512161;
    color: #512161;
}

/* 5GPlan Page */



/* ecoValue Page */
#ecoValue h3 {
    color: #985fd8;
}

/* awareness5g page */


/* privacyPolicy page */
#privacyPolicy ol {
    font-size: 0.8rem;
}


/* signal5g page  */
#signal5g h5 {
    color: #985fd8;
}


/* Blog section  */



.button {
    margin: 0 10px;
    padding: 10px 15px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 1rem;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
   }
   
   .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #985fd8;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .button:hover {
    color: #e8e8e8;
   }
   
   .button:hover::before {
    width: 100%;
   }